<!-- #{extends 'main.html' /} #{set title:'Home' /} #{welcome /} --> 

<html>
<title>Demande de trajet</title>
<h1>Liste des trajets</h1>
<body>
	<form  METHOD=POST action="action.html">
<br><br><br>

<table border = 1>
<tr><th>Depart</th><th>Arrivee</th><th>Date</th><th>Prix</th><th>Lieu de rendez vous</th><th>Places dispo</th><th>Demander</th></tr>
<tr><td>Paris</td><td>Marseille</td><td>01/01/2014</td><td>20e par personne</td><td>Rendez vous à Montreuil</td><td>3</td><td><input type="button" value="Demander"></tr>
</table>
	</form>



</body>


</html>